<h2>List of Projects</h2>

<!-- <div *ngFor="let project of projects"
     style="padding: 15px;">

  <div style="font-size: 20px;">
    {{project._id}} - {{project.name}} - {{project.teamSize}} - {{project.clientName}}
  </div>
  <div>

    <button (click)="project.editable = !project.editable"
            class="btn-md btn-success">Update</button>&nbsp;
    <button (click)="destroy(project)"
            class="btn-md btn-danger">Delete</button>
  </div>
  <div>
    <app-project-edit *ngIf="project.editable"
                      [project]="project"
                      (updateProjectEvent)="update($event)"></app-project-edit>
  </div>
</div> -->

<div class="row"
     style="padding: 15px">
  <table class="table table-bordered"
         style="color: white">
    <thead>
      <tr>
        <th>Id</th>
        <th>Project name</th>
        <th>Team size</th>
        <th>Client name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects; let i = index">
        <td>{{project._id}}</td>
        <td>{{project.name}}</td>
        <td>{{project.teamSize}}</td>
        <td>{{project.clientName}}</td>
        <td>

          <button (click)="project.editable = !project.editable"
                  class="btn btn-info btn-md">Edit</button>&nbsp;
          <button (click)="destroy(project)"
                  class="btn btn-danger btn-xs">Delete</button>
        </td>
      </tr>

    </tbody>

  </table>

</div>

<div *ngFor="let project of projects"
     style="padding: 15px;">

  <div>
    <app-project-edit *ngIf="project.editable"
                      [project]="project"
                      (updateProjectEvent)="update($event)"></app-project-edit>
  </div>
</div>