<app-navbar></app-navbar>


<!-- <pre>{{employees | json}}</pre> -->

<!-- //envio el evento para crear un nuevo usuario en user component (el padre) crea usuarios-->
<!-- salida -->
<div class="row"
     style="padding: 10px">


  <div class="col-md-7"
       style="height: 600px;">

    <!-- entrada -->
    <app-employee-list [employees]="employees"
                       (destroyEmployeeEvent)="destroy($event)"
                       (updateEmployeeEvent)="update($event)"></app-employee-list>

  </div>


  <div class="col-md-4">
    <app-employee-new (createNewEmployeeEvent)="create($event)">
    </app-employee-new>
  </div>
</div>