<h1>User Edit Component</h1>


<form (submit)="update()">
  <div class="form-group">
    <input placeholder="Name"
           class="form-control"
           type="text"
           name="name"
           [(ngModel)]="editUser.name">

  </div>
  <div class="form-group">
    <input placeholder="Company"
           class="form-control"
           type="text"
           name="company"
           [(ngModel)]="editUser.company">
  </div>

  <div class="form-group">
    <input placeholder="Age"
           class="form-control"
           type="text"
           name="age"
           [(ngModel)]="editUser.age">
  </div>

  <div class="form-group">
    <input placeholder="Birthday"
           class="form-control"
           type="text"
           name="birthday"
           [(ngModel)]="editUser.birthday">
  </div>

  <div class="form-group">
    <input placeholder="Favorite Color"
           class="form-control"
           type="text"
           name="favoriteColor"
           [(ngModel)]="editUser.favoriteColor">
  </div>

  <div class="form-group">
    <input placeholder="Project"
           class="form-control"
           type="text"
           name="project"
           [(ngModel)]="editUser.project">
  </div>

  <button class="btn btn-primary"
          type="submit">
      Update
    </button>
</form>