<div class="login-form">

  <form #loginForm="ngForm"
        (submit)="login(loginForm)">
    <h2 class="text-center">Project Management</h2>
    <div class="form-group">
      <input type="text"
             class="form-control"
             placeholder="Email adress: (alejandromym@utp.edu.co)"
             required="required"
             id="username"
             name="username"
             ngModel>
    </div>
    <div class="form-group">
      <input type="password"
             class="form-control"
             placeholder="Password: (123)"
             required="required"
             id="passowrd"
             name="password"
             ngModel>
    </div>
    <div class="form-group">
      <button type="submit"
              class="btn btn-primary btn-block">Log in</button><br>
      <a (click)="showAbout()">Contact me</a>
    </div>
    <div *ngIf="(show)">
      <p>Email: alejndromym@utp.edu.co</p>
      <p>Cel: 314 5716480</p>
    </div>

  </form>

</div>