<h1>User new Component</h1>

<form (submit)="create()">
  <div class="form-group">
    <input placeholder="Name"
           class="form-control"
           type="text"
           name="name"
           [(ngModel)]="newUser.name">

  </div>
  <div class="form-group">
    <input placeholder="Company"
           class="form-control"
           type="text"
           name="company"
           [(ngModel)]="newUser.company">
  </div>

  <div class="form-group">
    <input placeholder="Age"
           class="form-control"
           type="text"
           name="age"
           [(ngModel)]="newUser.age">
  </div>

  <div class="form-group">
    <input placeholder="Birthday"
           class="form-control"
           type="text"
           name="birthday"
           [(ngModel)]="newUser.birthday">
  </div>

  <div class="form-group">
    <input placeholder="Favorite Color"
           class="form-control"
           type="text"
           name="favoriteColor"
           [(ngModel)]="newUser.favoriteColor">
  </div>

  <div class="form-group">
    <input placeholder="Project"
           class="form-control"
           type="text"
           name="project"
           [(ngModel)]="newUser.project">
  </div>

  <button class="btn btn-primary"
          type="submit">
    Send
  </button>
</form>