<h2>List of Employees</h2>

<div class="row"
     style="padding: 15px">
  <table class="table table-bordered"
         style="color: white">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Company</th>
        <th>Age</th>
        <th>Birthday</th>
        <th>Favorit Color</th>
        <th>Project assigned</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; let i = index">
        <td>{{employee._id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.company}}</td>
        <td>{{employee.age}}</td>
        <td>{{employee.birthday}}</td>
        <td>{{employee.favoriteColor}}</td>
        <td>{{employee.project}}</td>

        <td>
          <button type="button"
                  (click)="employee.editable = !employee.editable"
                  class="btn btn-info btn-md ">Edit</button> &nbsp;

          <button (click)="destroy(employee)"
                  class="btn btn-danger btn-xs">
                        Delete
          </button>
        </td>
      </tr>

    </tbody>

  </table>

</div>

<div *ngFor="let employee of employees"
     style="padding: 15px;">

  <div>
    <app-employee-edit *ngIf="employee.editable"
                       [employee]="employee"
                       (updateEmployeeEvent)="update($event)"></app-employee-edit>
  </div>
</div>