<app-navbar></app-navbar>

<div class="container app">

  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1 class="text">
        <p>HR MANAGEMENT</p>
      </h1><br>
    </div>
  </div>

  <div class="row justify-content-md-center">

    <div class="col-lg-2"
         style="text-align: center;">
      <input type="button"
             class="botonEmployee"
             (click)="goEmployee()" /><br>
      <label for="">Employees</label>
    </div>


    <div class="col-lg-2"
         style="text-align: center;">
      <input type="button"
             class="botonProject"
             (click)="goProject()" /><br>
      <label for="">Projects</label>
    </div>

  </div>
</div>